<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Logged Out</title>
</head>

<body>
  <main class="container">
    <nav id="nav-bar" class="u-pull-right">
      <a class="button button-primary" href="signin">SIGN IN</a>
    </nav>
    <div class="u-full-width m2-ta u-cf">
      <h3>You are logged out.</h3>
    </div>

  </main>

  <script src="main.js"></script>
</body>

</html>