<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Sign In</title>
</head>

<body>
  <main class="container">
    <h4 class="m2-ta">SIGN IN</h4>
    <form class="m2-ta">
      <div>
        <div>
          <input type="email" placeholder="USERNAME">
        </div>
        <div>
          <input type="email" placeholder="PASSWORD">
        </div>
      </div>
      <div>
        <button class="button-primary">Sign In</button>
      </div>
    </form>
  </main>

  <script src="main.js"></script>
</body>

</html>